In [52]:
import numpy as np
import pandas as pd

In [54]:
df = pd.read_csv('subdata_GP.csv', usecols = ['site', 'year', 'date', 'MonitorData'])

In [56]:
print(df.shape)

(100000, 4)

In [58]:
sites = df.site.unique()
print(sites)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17]

In [66]:
sub_sites = [df[df.site == site].iloc[0:100] for site in sites]

In [67]:
sub_df = pd.concat(sub_sites)
sub_df.shape

(1700, 4)

In [69]:
sub_df.site.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17])

In [70]:
sub_df.head()

   site  year        date  MonitorData
0     1  2000  2000-01-01          NaN
1     1  2000  2000-01-02          NaN
2     1  2000  2000-01-03          NaN
3     1  2000  2000-01-04          NaN
4     1  2000  2000-01-05          NaN